.hero-section {
  background: black;
}

.bouton-hero {
  background-color: #f000ff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.bg-point {
  background-color: #000000;
}

.bouton-hero:hover {
  background-color: #78007e;
}

.bouton-tarif {
  background-color: #0090ff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.bouton-tarif:hover {
  background-color: #0d359b;
}

.bouton-points {
  background-color: #f000ff;
  color: white;
  border: none;
  transition: background-color 0.3s ease;
}

.bouton-points:hover {
  background-color: #0090ff;
}

.features-section__card {
  transition: transform 0.3s ease;
}

/* Carrousel Services */
.services-carousel .carousel-item img {
  max-height: 500px;
  object-fit: cover;
}

.services-hero,
.services-carousel {
  background-color: black;
}

.services-galleryOK {
  background-color: black;
}

.carousel-caption {
  background-color: #f000ff;
}

/* Galerie Services */
.gallery-item {
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.06);
}

.gallery-overlay {
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.gallery-item:hover .gallery-overlay {
  opacity: 1;
}

.testimonials {
  background-color: #f000ff;
}

.testimonial-text {
  background-color: black;
}
